{{ define "main" }}
<main data-pagefind-ignore class="center mv4 content-width ph3">
  <h1 class="f2 fw6 heading-font">{{ .Title }}</h1>
  {{ .Content }}
  {{ if eq .Kind "section" }}
  {{ $lastYear := "" }}
  {{ range .Pages }}
  {{ $year := .Date.Format "2006" }}
  {{ if ne $year $lastYear }}
    {{ if $lastYear }}</ul>{{ end }}
    <h3 class="f4 fw6 heading-font heading-color mt4 mb2">{{ $year }}</h3>
    <ul class="pa0 year-posts">
    {{ $lastYear = $year }}
  {{ end }}
    {{ partial "post-list-item.html" . }}
  {{ end }}
  {{ if $lastYear }}</ul>{{ end }}
  {{ else }}
  <ul class="pa0 year-posts">
    {{ range .Pages }}
    {{ partial "post-list-item.html" . }}
    {{ end }}
  </ul>
  {{ end }}
</main>
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}
</div>
{{ partial "tag_cloud.html" . }}
{{ end }}
