{{ define "main" }}
<main data-pagefind-ignore class="center mv4 content-width ph3">
  {{ $type := .Type }}
  <h1 class="f2 fw6 heading-font">{{ .Title }}</h1>
  {{ .Content }}
  <ul class="list-pages list pl0">
    {{ range .Data.Terms.ByCount }}
      {{ $tier := "tag-tier-4" }}
      {{ if ge .Count 30 }}{{ $tier = "tag-tier-1" }}
      {{ else if ge .Count 10 }}{{ $tier = "tag-tier-2" }}
      {{ else if ge .Count 3 }}{{ $tier = "tag-tier-3" }}
      {{ end }}
      <li class="lh-copy di ph1"><a href="{{ .Name | urlize }}" class="link {{ $tier }}">{{ .Name }}&nbsp;({{ .Count }})</a></li>
    {{ end }}
  </ul>
</main>
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}
</div>
{{ end }}