html { font-size: 18px; }
body { color: var(--body-text-color); background-color: var(--background-color);
  transition: var(--theme-transition); }
.main-color { color: var(--main-color); }
.secondary-color { color: var(--secondary-color); }
.bg-main-color { background-color: var(--main-color); color: var(--logo-text-color); }
.heading-font, .global-font { font-family: "Source Sans Pro"; }
.heading-color { color: var(--heading-text-color); }
.post-content a, .list-pages a, .pagination a {
  border-bottom: 1px solid var(--generic-link-color);
  text-decoration: none;
  color: var(--generic-link-color);
}
a { text-decoration: none; color: var(--generic-link-color); }
main a:hover, .list-pages a:hover, .pagination a:hover, #tag-cloud a:hover {
  border-bottom: 1px solid var(--body-text-color);
  color: var(--body-text-color);
  text-decoration: none;
}
.content-width { max-width: 650px; }
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0px;
  color: var(--main-color);
  font-weight: 600;
}

pre {
  font-size: 0.9em;
  padding: 10px 20px 10px 20px;
  overflow: auto;
  line-height: 1.25em;
}

p code {
  padding: 0 .3rem;
  font-size: 0.9em;
  background-color: var(--code-background-color);
  color: var(--body-text-color);
  display: inline-block;
}

p code, pre { border-radius: 4px; }

#tag-cloud { max-width: 250px; font-family: monospace; }
#contents-list>.toc-list {
  max-width: 250px;
  overflow: hidden;
  position: fixed;
  right: 2rem;
}
@media (min-width: 1200px) {
  #contents-list>.toc-list, #tag-cloud  {
    display: block;
    top: 150px;
  }
  #tag-cloud {
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
    /* font properties for tag cloud */
    font-size: 14px;
    line-height: 1;
  }
  #tag-cloud span {
    font-size: larger;
  }
}
@media (min-width: 1330px) { #contents-list>.toc-list { max-width: 300px; right: 3rem;}}
#contents-list ol { list-style: none; }

figure {
  margin: 2em 1em;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 2px 2px #bbb;
}
figcaption {
  text-align: center;
  margin-top: 0.5em;
}

blockquote {
  border-left-style: solid;
  border-left-width: 1px;
  border-color: var(--secondary-color);
  border-width: .25rem;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  padding-left: 1rem;
}

blockquote p {
  color: #666;
  margin-top: 0;
  line-height: 1.5;
  font-style: italic;
}

blockquote p>cite {
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: .1em;
  font-size: .875rem;
  display: block;
}

table {
  font-size: 14px;
  border-collapse:collapse;
  margin: 2rem auto;
  padding:0;
}

table tr {
  border-top:1px solid #ccc;
  background-color:#fff;
  margin:0;
  padding:0;
}

table tr:nth-child(2n) {
  background-color:#f8f8f8;
}
table tr th[align="center"], table tr td[align="center"] {
  text-align:center;
}
table tr th, table tr td {
  border:1px solid #ccc;
  text-align:left;
  margin:0;
  padding:6px 13px;
}
.star {
    color: var(--main-color);
    margin-left: -1em;
}
hr {
  border: 0 none;
  border-top: 1px solid var(--main-color);
}

/* embedded subscribe form styling - outside the theme */
.mc-field-group {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
}

#mce-EMAIL {
  height: 1.5rem;
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  background-color: var(--code-background-color);
  /* border: 1px solid var(--secondary-color); */
  border: 0 none;
  color: var(--body-text-color);
}

#mc-embedded-subscribe {
  color: var(--background-color)!important;
  cursor: pointer;
}
/* done embedded subscribe form styling */

.pv1 {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

/* theme switcher styles */
#theme_switcher {
  visibility: hidden;
  display: block;
  width: 1px;
  height: 1px;
}

label#switch_mode {
  display: block;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
  background: linear-gradient(90deg,#999, #222);
  box-shadow: inset 0 0 2px 3px solid black;
  position: relative;
  margin-right: 2rem;
  cursor: pointer;

  --size: 0.8rem;
}

label#switch_mode::after {
  content: "";
  display: block;
  position: absolute;
  width: var(--size); height: var(--size);
  left: 1px; top: 1px;
  border-radius: var(--size);
  background: var(--body-text-color);
  border: 1px solid #ddd;
  transition: left 100ms ease-in-out;
}

#theme_switcher~label#switch_mode::after {
  left: 1px;
}

#theme_switcher:checked~label#switch_mode::after {
  left: 1rem;
}

/* post meta and post tags */
.post-meta {
  font-family: monospace;
  font-size: small;
}

.post-meta time {
  color: var(--body-text-color);
}

.post-meta:hover .post-tags a {
  color: var(--generic-link-color);
  transition: 0s color;
}

.post-tags i.svg-icon {
  position: relative;
  top: 4px;
}

.post-tags a.link,
#tag-cloud a {
  text-decoration: none;
  font-weight: 800;
  line-height: 1;
  display: inline-block;
  padding: 4px 2px;
  border-bottom: 1px solid var(--background-color);
}

.post-tags a.link {
  color: var(--body-text-color);
}

.post-tags a.link:hover {
  border-bottom: 1px solid var(--generic-link-color);
}

/* SVG icons and sprites */
i.svg-icon {
  vertical-align: sub;
  display: none;
}
i.svg-icon svg {
  width: 16px;
  height: 16px;
}
i.svg-icon.svg-icon--fill svg {
  fill: var(--body-text-color);
}

/* top heading styles */
#welcome-to-punchagans-blog,
main.center>h1:first-of-type {
  font-weight: 900;
  font-size: 4rem;
  color: var(--background-color);
  --detail-color: var(--generic-link-color);
    text-shadow: 1px 1px 0 var(--detail-color),
      -1px -1px 0 var(--detail-color),
      -1px 1px 0 var(--detail-color),
      1px -1px 0 var(--detail-color),
      0 1px 0 var(--detail-color),
      0 -1px 0 var(--detail-color),
      -1px 0 0 var(--detail-color),
      1px 0 0 var(--detail-color)
}

main > h1:first-of-type > span {
  display: block;
  font-size: 1.67rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}

main>p {
  line-height: 1.67rem;
}

section.post-content {
  position: relative;
}

section.connect {
  border: 1px solid rgba(0,0,0,0.01);
}

ul.list,
section.connect {
  margin-top: 4rem;
  position: relative;
}

ul.list::before,
section.connect::before {
  position: absolute;
  content: "";
  top: -2rem;
  height: 1px;
  width: 30%;
  background-color: var(--generic-link-color);
}

@media screen and (max-width: 420px) {
  #welcome-to-punchagans-blog,
  main.center>h1:first-of-type {
    font-size: 2rem;
  }
}

/* scrolling */
html { scroll-behavior: smooth; }
