{{ if .Site.Params.showtoc | default true }}
{{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
{{ $has_headers := ge (len $headers) 1 }}
{{ if and $has_headers (ne .Params.toc false) }}
{{ $tocbotJS := resources.Get "js/tocbot.min.js" | fingerprint "sha256" }}
{{ $tocbotCSS := resources.Get "css/tocbot.css" | fingerprint "sha256" }}
<script src="{{ $tocbotJS.Permalink }}"></script>
<link rel="stylesheet" href="{{ $tocbotCSS.Permalink }}">
<style>.is-active-link::before { background-color: var(--secondary-color); }</style>
{{ end }}
{{ end }}

{{ if or (.Site.Params.showTagCloud | default true) (.Site.Params.showtoc | default true) (.Site.Params.showScrollToTop | default true) }}
<script type="text/javascript">
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  var tagCloud = document.getElementById("tag-cloud");
  var scrollTopButton = document.getElementById("scroll-to-top");

  const TAG_CLOUD_DIMMER_OFFSET = 600;

  {{ if .Site.Params.showTagCloud | default true }}
  if (tagCloud !== null) {
    if (prevScrollpos > currentScrollPos || currentScrollPos < TAG_CLOUD_DIMMER_OFFSET) {
      // show/hide tag cloud at the set offset
      tagCloud.style.visibility = "visible";
      tagCloud.style.opacity = "1";
    } else {
      tagCloud.style.visibility = "hidden";
      tagCloud.style.opacity = "0";
    }
  }
  {{ end }}

  {{ if .Site.Params.showScrollToTop | default true }}
  // null-check for scrollTopButton
  if(scrollTopButton !== null) {
    if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
        scrollTopButton.style.display = "inline";
        scrollTopButton.style.visibility = "visible";
        scrollTopButton.style.opacity = "1";
    } else {
        scrollTopButton.style.visibility = "hidden";
        scrollTopButton.style.opacity = "0";
    }
  }
  {{ end }}
  prevScrollpos = currentScrollPos;
}
{{ if .Site.Params.showScrollToTop | default true }}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
{{ end }}

{{ if .Site.Params.showtoc | default true }}
{{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
{{ $has_headers := ge (len $headers) 1 }}
{{ if and $has_headers (ne .Params.toc false) }}
if (document.getElementById("contents-list") !== null && document.getElementsByClassName("post-content").length !== 0) { 
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: '#contents-list',
    // Where to grab the headings to build the table of contents.
    contentSelector: '.post-content',
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h1, h2, h3',
  });
}
{{ end }}
{{ end }}
</script>
{{ end }}

{{ if .Params.math }}
<!-- Load KaTeX -->
<script src="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.js" integrity="sha384-AtrdNsnxl/75rvBneBVH7DtOvCxSVahR2zWqle1coBKd8DEmLoviqNeJSx64gNAs" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/contrib/auto-render.min.js" integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.css" integrity="sha384-vlBdW0r3AcZO/HboRPznQNowvexd3fY8qHOWkBi5q7KGgqJ+F48+DceybYmrVbmB" crossorigin="anonymous">
<script>
  renderMathInElement(document.body,
    {
        delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "$", right: "$", display: false},
        ]
    }
  );

  var inlineMathArray = document.querySelectorAll("script[type='math/tex']");
  for (var i = 0; i < inlineMathArray.length; i++) {
    var inlineMath = inlineMathArray[i];
    var tex = inlineMath.innerText || inlineMath.textContent;
    var replaced = document.createElement("span");
    replaced.innerHTML = katex.renderToString(tex, {displayMode: false});
    inlineMath.parentNode.replaceChild(replaced, inlineMath);
  }

  var displayMathArray = document.querySelectorAll("script[type='math/tex; mode=display']");
  for (var i = 0; i < displayMathArray.length; i++) {
    var displayMath = displayMathArray[i];
    var tex = displayMath.innerHTML;
    var replaced = document.createElement("span");
    replaced.innerHTML = katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
    displayMath.parentNode.replaceChild(replaced, displayMath);
  }
</script>
{{end}}
<script>
  // theme switcher
  let dark_cb = document.getElementById('theme_switcher');

  dark_cb.checked = IS_DARK_THEME; // update checkbox state on load

  const toggle_theme = new CustomEvent('toggle_theme', { bubbles: true }); // create custom event

  dark_cb.addEventListener('change', (e) => {
    e.target.dispatchEvent(toggle_theme); // dispatch custom event;
    // listener for this is already registered in the head. See partials/header.html
  });
</script>
