{{ define "main" }}
{{ $mainPages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $recentCount := .Site.Params.homeRecentCount | default 8 }}
<main data-pagefind-ignore class="center mv4 content-width ph3">
  {{ range where .Site.Pages "Title" "Home" }} {{ .Content }} {{ end }}

  <div data-pagefind-ignore class="mt3">
      <pagefind-searchbox></pagefind-searchbox>
  </div>

  <h2 class="f3 fw6 heading-font heading-color">Recent posts</h2>
  <ul class="list pa0">
    {{ range first $recentCount $mainPages }}
    <li class="mb2">
      <a
        class="f4 heading-color heading-font fw6 no-underline"
        href="{{ .Permalink }}"
        >{{ .Title }}</a
      >
      <p class="f5 mt1 mb0 silver post-meta">
        <time>{{ .Date.Format "02 Jan 2006" }}</time>
        {{ if .Params.tags }} | <span class="post-tags">
        {{ range .Params.tags }}<a
          href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'
          class="link silver"
          >{{ . }}</a>
        {{ end }} </span> {{ end }}
      </p>
      {{ with .Page.Params.description }}<p class="f6 mt1 i">{{ . }}</p>{{ end }}
    </li>
    {{ end }}
  </ul>
  <p><a href="{{ "/blog/" | relURL }}" class="link">See the full archive &rarr;</a></p>

  {{ $favourites := .Site.Taxonomies.categories.best }}
  {{ if $favourites }}
  <h2 class="f3 fw6 heading-font heading-color mt4">Favourites</h2>
  <ul class="list pa0">
    {{ range $favourites }}
    <li class="mb2">
      <span class="star">★</span>
      <a
        class="f4 heading-color heading-font fw6 no-underline"
        href="{{ .Page.Permalink }}"
        >{{ .Page.Title }}</a
      >
      <p class="f5 mt1 mb0 silver post-meta">
          <time>{{ .Page.Date.Format "02 Jan 2006" }}</time>
          {{ if .Params.tags }} | <span class="post-tags">
          {{ range .Params.tags }}
          <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a>
          {{ end }} </span>
          {{ end }}
      </p>
      {{ with .Page.Params.description }}<p class="f6 mt1 i">{{ . }}</p>{{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}

  <div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
    {{ partial "back-to-top.html" . }}
  </div>
</main>
{{ partial "tag_cloud.html" . }} {{ end }}
